img{
    width: 95%;
}
.userCard .welcome{
    display: none;
}
.userCard > div > .picturePC{
    display: none;
}
.userCard > div > .pictureMB{
    width: auto;
    max-width: 60%;
    margin: 0 auto;
    display: block;
}

.topNavBar{
    position: relative;
    margin-bottom: -200px;
}
.userCard{
    margin-top: -50px;
}
.userCard{
    margin-top: -100px;
}
.message{
    display: none;
}

.works > ol > li > .left > a > .MB{
    width: 77.2%;
    margin-left: auto;
    margin-right: auto;
}